html{
    background-color: #343434;
    margin: 0px 0px 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;


}
body{
    margin: 0px;
}
/*loading*/
.loading{
    background-color: white;
    width: 100%;
    height: 450vh;
    position: absolute;
    z-index: -1;
    animation: opacity 3s 1;
    filter: opacity(0);
    
}
@media screen and (max-width: 600px) {
    div.loading {
    height: 500vh;
    }
}
.loading_img{
    -webkit-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;
    animation-play-state: running;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10vh;
    margin-top: 5vh;
}

/* Header */
.header{
    background-color: #2a2a2a;
    margin: 0px;
    width: 100%;
    height: 115vh;
    min-height: 10px;
    max-height: 10vh;
}
.header-container{
display: flex;
align-items: center;
width: 15vh;
}
.logo-container{
    width: 9vh;
    height: 9vh;
    margin-left: 3vh;
    margin-top: 0.5vh;
    transition: all .2s linear;
}
.logo-container:hover{
   filter: brightness(10); 
   transition: all .1s linear;
}
.logo-header-text{
    font-size: 4vh;
    font-weight: 700;
    color: aliceblue;
    align-items: center;
    margin: 0px;
    margin-left: 1.5vh;
    user-select: none;
}
.navbuttons{
    text-decoration: transparent;
    text-align: center;
    color: aliceblue;
    margin: 0px 4vh;
    font-weight: 700;
    transition: all .2s linear;
    position: relative;
    font-size: 4vh;
}
.navbuttons::after{
    width: 100%;
    height: 4px;
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    display:block;
    background-color: #ff3e3e;
    filter: opacity(0);
    transition: all .2 linear;
}
.navbuttons:hover{
    color: #ff3e3e;
    transition: all .2s linear;
}
.navbuttons:hover:after{
    background-color: #ff3e3e;
    display:block;
    filter: opacity(1);
    transition: all .2s linear;
}
.navigation{
    position: relative;
    float: right;
    top: -7.5vh;
    right: 5vh;
}
@media screen and (min-width: 761px) and (max-width: 1200px) {
    a.navbuttons {
      font-size: 4vh;

    }
}

@media screen and (max-width: 760px) {
    a.navbuttons {
      font-size: 1.5vh;
      margin: 0px 1vh;
      text-align:center;
    }
  }

@media screen and (max-width: 760px) {
    div.navigation {
    width: 15vh;
    position: relative;
    float: right;
    text-align:center;
    margin-left: 3vh;
    }
}
@media screen and (min-width: 761px) and (max-width: 1200px) {
    div.navigation {
    width: 50%;
    position: relative;
    float: right;
    text-align:center;
    margin-left: 3vh;
    margin: 0px 0px;
    top:-10vh;
    }
}
  @media screen and (max-width: 760px) {
    a.navbuttons:after {
 height: 2px;
    }
}

/* Container main */

.maincontainer{
    background-image: url("../img/mainbg.jpg");
    width: 90%;
    height: 1080px;
    margin-top: 4vh;
    margin-left: 5vh;
    margin-right: 5vh;
    position: relative;
    z-index: -1;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.gradientimage{
    width: 100%;
    height: 1080px;
    filter: brightness(1.06);
}
@media screen and (max-width: 760px) {
    div.maincontainer {
        max-width: 100%;
        height: 500px;
        display: block;
        margin-left: auto;
        margin-right: auto;
       background-position-x: center;
       margin-top: 3vh;
    }
    
}
@media screen and (min-width: 761px) and (max-width: 1200px){
    div.maincontainer {
        width: 90%;
        max-height: 1080px;
        margin-left: 5vh;
        display: block;
    }
    
}
@media screen and (max-width: 760px) {
    img.gradientimage {
        width: 100%;
        height: 500px;

    }
    
}

/* Text And Hello */
.maintext{
    margin-top: 10%;
}
@media screen and (min-width: 761px){
   p.maintext{
    font-size: 50px;
    font-weight: 800;
    color: aliceblue;
    text-align: center; 
    }
}
@media screen and (max-width: 760px){
    p.maintext{
     font-size: 20px;
     font-weight: 800;
     color: aliceblue;
     text-align: center; 
     
     }
 }
.hellotext{
    position: absolute;
    align-items: center;
    width: 90%;
left: 5%;
}
.hellologo{
    display: block;
    margin-left: auto;
margin-right: auto;
}
@media screen and (max-width: 760px) {
    img.hellologo{
 width: 20vh;
 margin-top: 8vh;
    }
}
@media screen and (min-width: 761px) {
    img.hellologo{
 width: 30vh;
 margin-top: 8vh;
    }
}

/* Buttons */
.shopbtn{
    width: 40vh;
    height: 11vh;
    background-color: #ff3e3e;
    padding-top: 5.5vh;
    border-radius: 8vh;
    display: block;
    margin-left: auto;
margin-right: auto;
text-align: center;
transition: all .2s linear;
}
.btntext{
    font-size: 6vh;
    text-align: center;
    margin: 0px;
    font-family: 'Comfortaa', cursive;
    text-decoration: none;
    color: aliceblue;
    transition: all .2s linear;
}
.shopbtn:hover{
    background-color: aliceblue;
    transition: all .2s linear;
}
.btntext:hover{
    color:#ff3e3e;
    transition: all .2s linear;
}

@media screen and (max-width: 760px) {
    div.shopbtn{
width: 30vh;
height: 6vh;
padding-top: 2vh;
    }
}

@media screen and (max-width: 760px) {
    a.btntext{
        font-size: 4vh;
    }
}

/* About */
.aboutus{
    background-image: url(../img/bg_about.jpg);
    height: 240vh;
    max-height: 260vh;
    background-position-x: center;
    background-size: cover;
    
}
@media screen and (min-width: 761px) and (max-width: 1200px) {
    div.aboutus {
        width: 90%;
        max-height: 230vh;
        margin-left: 5vh;
        margin-right: 5vh;
        display: block;
    }
    
}  
@media screen and (max-width: 760px) {
    div.aboutus {
        max-width: 100%;
        height: 110vh;
        display: block;
        margin-left: auto;
        margin-right: auto;
       background-position-x: center;
       margin-top: 15vh;
       background-size: 200%;

    }
    
}  
@media screen and (min-width: 761px) and (max-width: 1200px) {
    div.aboutus {
        max-width: 100%;
        height: 120vh;
        display: block;
        margin-left: auto;
        margin-right: auto;
       margin-top: 5vh;
       background-position-x: center;

    }
    
}  
.cont_about{
    width: 95%;
    margin-left: 5vh;
    height: 100%;
    position: absolute;
}
@media screen and (max-width: 760px) {
    div.cont_about {
        width: 100%;
        height: 110vh;
        display: block;
        margin-left: auto;
        margin-right: auto;
       margin-top: 12vh;
    }
}
@media screen and (max-width: 760px) {
    p.abt_txt {
font-size: 30px;
    }
}

.abt_txt{
 font-weight: 700;
 color:#ff3e3e;
 text-align: center;
 font-size: 60px;
 margin-bottom: 0vh;
}
.kb1_image{
    height: 85vh;
    margin-left: 9vh;
    margin-top: 1vh;
    box-shadow: 0px 0px 20px black;
    border-radius: 10px;
}
@media screen and (max-width: 760px) {
    img.kb1_image{
        height: 40vh;
    margin-left: 1vh;
    margin-top: 2vh;

    }
}
@media screen and (min-width: 761px) and (max-width: 1200px) {
    img.kb1_image{
        height: 40vh;
    margin-left: 3vh;
    margin-top: 2vh;

    }
}
.txt_abmain{
    position: absolute;
    width: 70%;
    margin-left: 45vh;
    font-size: 4.97vh;
    text-indent: 5vh;
    color:aliceblue;
}
@media screen and (max-width: 760px) {
p.txt_abmain{
    font-size: 1.7vh;
    margin-left: 17vh;
    width: 60%;
    }
}
@media screen and (min-width: 761px) and (max-width: 1200px) {
    p.txt_abmain{
        font-size: 1.7vh;
        margin-left: 20vh;
        width: 70%;
        
        font-size: 2vh;
    }
}
.abt_flex{
    display:flex;
    align-items: center;
}
.mini_logo{
    float: right;
    width: 10vh;
    margin-right: 10vh;
}
@media screen and (max-width: 600px) {
    img.mini_logo{
        width: 5vh;
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: none;
        margin-top: 1vh;
    }
}
.kb2_image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vh;
    filter: opacity(1);
}
@keyframes opacity {
    0%   { -webkit-filter: opacity(1);
        z-index: 100;}

    50%   { -webkit-filter: opacity(1);
        z-index: 100;}

    100% { -webkit-filter: opacity(0);
        z-index: -1;}

}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } } 

@keyframes scale {
    100%    {transform: scale(1.2);}
}
@media screen and (max-width: 760px) {
    img.kb2_image{
 width: 40vh;
 margin-top: 10vh;
    }
}     
@media screen and (min-width: 761px) and (max-width: 1200px) {
    img.kb2_image{
        width: 50vh;
        margin-top: 10vh;
        }    
    }
.title_abt{
    font-size: 7vh;
    font-weight: bold;
    text-align: center;
    color:aliceblue;
}
@media screen and (max-width: 760px) {
    p.title_abt {
        font-size: 2vh;
    }
}
@media screen and (min-width: 761px) and (max-width: 1200px) {
    p.title_abt {
        font-size: 4vh;
        width: 95%;
    }
}
.compname {
    font-size: 8vh;
    font-weight: bold;
    color:aliceblue;
    position: relative;
    margin: 0px 4vh;
    text-decoration: none;
    transition: all .2s linear;
}
.flexcomp {
    display: flex;
    align-items: center;
}
@media screen and (min-width: 761px) and (max-width: 1200px) {
    div.flexcomp {
margin-left: 4vh;
width: 20%;
    }
}
.block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12vh;
}

@media screen and (max-width: 760px) {
    a.compname{
        font-size: 2.4vh; 
        margin: 0px 0.7vh;
    }
}
@media screen and (min-width: 601px) and (max-width: 760px) {
    div.block{
        padding-left: 20%;
    }
}
@media screen and (min-width: 761px) and (max-width: 1200px) {
    div.block{
        padding-left: 20%;
    }
}  
@media screen and (max-width: 600px) {
    div.block{
        padding-left: 2vh;
    }
}
@media screen and (min-width: 761px) and (max-width: 1200px) {
    a.compname{
        font-size: 4vh; 
        margin: 0px 0.3vh;
    }
}

.compname:hover{
    color: #ff3e3e;
    transition: all .2s linear;
}
.compname_dot {
    font-size: 9vh;
    font-weight: bold;
    color:aliceblue;
    position: relative;
    margin: 0px 4vh;
    text-decoration: none;
    transition: all .2s linear;
    user-select: none;
}
@media screen and (max-width: 760px) {
    a.compname_dot{
        font-size: 2.4vh; 
        margin: 0px 0.7vh;
    }
}
@media screen and (min-width: 761px) and (max-width: 1200px) {
    .compname_dot {
        font-size: 5vh; 
        margin: 0px 0.3vh;
    }
}
.shopbtn1{
    width: 72vh;
    height: 25vh;
    background-color: #ff3e3e;
    padding-top: 4.5vh;
    border-radius: 10vh;
    display: block;
    margin-left: auto;
margin-right: auto;
text-align: center;
transition: all .2s linear;
margin-top: 5vh;
}
.btntext1{
    font-size: 10vh;
    text-align: center;
    margin: 0px;
    font-family: 'Comfortaa', cursive;
    text-decoration: none;
    color: aliceblue;
    transition: all .2s linear;
}
.shopbtn1:hover{
    background-color: aliceblue;
    transition: all .2s linear;
}
.btntext1:hover{
    color:#ff3e3e;
    transition: all .2s linear;
}

@media screen and (max-width: 760px) {
    div.shopbtn1{
width: 35vh;
height: 12vh;
padding-top: 2.3vh;
    }
}

@media screen and (max-width: 760px) {
    a.btntext1{
        font-size: 4.5vh;
    }
}
@media screen and (min-width: 761px) and (max-width: 1200px) {
    div.shopbtn1{
        width: 50vh;
        height: 12vh;
        padding-top: 2.3vh;
        margin-top: 20px;
            }
        }
@media screen and (min-width: 761px) and (max-width: 1200px) {
    a.btntext1{
        font-size: 5vh;
    }
}
/* Most-Recent Sells */
.goodcont{
    width: 42vh;
    height: 55vh;
    background-color: #575757;
    padding-top: 1vh;
    margin: 0px 1.5vh;
}
.switchname{
    font-family: 'Comfortaa', cursive;
    color: white;
    text-align: center;
    font-size: 6vh;
    margin: 0px;
}
.switchpicture{
    height: 28vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.5));
    transform: scale(1);
    transition: all 1s ease;
}
.switchpicture:hover{
 transform: scale(1.2);
 transition: all 1s ease;
}
.switchclass{
    font-family: 'Comfortaa', cursive;
    color: white;
    text-align: center;
    font-size: 4vh;
    margin: 1%;
}
.buythis_text{
    text-decoration: none;
    font-size: 6vh;
    font-family: 'Comfortaa', cursive;
    color:white;
    transition: all .2s linear;
}
.buythis{
    text-align: center;
    width: 95%;
    height: 15%;
    padding-top: 5%;
    background-color: #ff3e3e;
    margin-left: 2.5%;
    margin-top: 10%;
    transition: all .2s linear;
}
.most_recent{
    width: 95%;
    height: 60vh;
    display: flex;
    align-items: center;
    margin-left: 2.5%;
    
}
@media screen and (max-width: 760px) {
    div.most_recent {
        display: block;
    align-items: center;
    margin-left: 4.75%;
    height: 240vh;
    }
}
@media screen and (max-width: 760px) {
    div.goodcont {
        margin: 3vh 0vh;
    }
}
.buythis:hover {
    background-color:white;
    transition: all .2s linear;
}
.buythis_text:hover {
    color:#ff3e3e;
    transition: all .2s linear;
}

@media screen and (min-width: 761px) and (max-width: 1200px) {
    div.most_recent {
    margin-top: 4vh;
        width: fit-content;
        display: block;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height: 240vh;
    }
}
@media screen and (min-width: 761px) and (max-width: 1200px) {
    div.goodcont {
        margin: 3vh 0vh;
    }
}

@media screen and (min-width: 761px) and (max-width: 1200px) {
    div.align {
        width: fit-content;
    }
}
/* Container Bottom */

.container_bottom{
    background-color: #262626;
    width: 100%;
    height: fit-content;
    position: relative;
}
.contact_us {
    font-size: 6vh;
    text-align: center;
    float: right;
    margin: 2vh 90vh;
    color:#ff3e3e;
    position: relative;
    font-weight: 700;
}
.socials{
    display:flex;
    align-items: center;
    width: 70%;
}
.socials1{
    display:flex;
    align-items: center;
    width: 60%;
}
.soc_logo{
   width: 8vh;
   margin-left: 2vh;
   margin-top: 2vh;
   filter: brightness(1);
   transition: all .2s linear;
}
.soc_logo:hover{
    filter: brightness(10);
    transition: all .2s linear;
}
.clicky_bottom{
    font-weight: 700;
    font-size: 4vh;
    color:#ff3e3e;
    margin-left: 2vh;
}
@media screen and (max-width: 760px) {
    div.container_bottom {
 position: absolute;
 height: 65vh;
    }
}
@media screen and (max-width: 760px) {
    p.contact_us {
        margin: 1vh -18.5vh;
    }
}
@media screen and (max-width: 760px) {
    div.socials1{
        display: block;
    }
}
@media screen and (min-width: 761px) and (max-width: 1200px) {
    p.contact_us {
        margin: 4vh 0vh;
        font-size: 4vh;
    }
}
@media screen and (min-width: 761px) and (max-width: 1200px) {
    div.socials1{
        display:flex;
        align-items: center;
        width: 95%;
    }
}
li.spisok{
    font-size: 2vh;
    font-weight: bolder;
    color: white;
    text-indent: 4vh;
}
.prods{
    margin: 0px;
    width: 10%;
}
p.spisok1{
    margin: 0px;
    font-size: 2vh;
    font-weight: bolder;
    color: white;
}
.btn_info{
    margin: 0px;
    font-size: 2vh;
    font-weight: bolder;
    color: white;
    width: 30%;
    text-align: center;
}
.bottom_info{
    display: flex;
}
.btn_line {
    border-radius: 6px;
    height: 3px;
    background-color: white;

}
.underline{
    margin-right: 2.5%;
    margin-left: 2.5%;
    filter: opacity(0.35);
}
.lastinfo{
    color:white;
    font-size:3vh;
    margin-top: 1.75vh;
    margin-bottom: 0px;
}
@media screen and (max-width: 760px) {
    p.btn_info {
        width: 40%;
        font-size: 1.5vh;
        margin-left: 9vh;
    }
}

@media screen and (max-width: 760px) {
    ul.prods {
        width: 30%;
        padding: 1vh;
    }
}
@media screen and (max-width: 760px) {
    div.bottom_info {
 margin-top: 20vh;
    }
}